@media (min-width:768px) {

    #menu-button {
        display: none;
    }

    nav {
        display: flex !important;
        flex-direction: row;
        gap: 2rem;
        background: none;
        width: auto;
    }

    nav a {
        padding: 0;
    }

    /* 3 COLUMN GRID */

    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }

}